.flex {
    display: flex;
    flex-wrap: wrap;
  }

.feature-card {
    padding: 3rem;
}

.about-text {
    margin-left: 3rem;
}

.feature-img {
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    .col {
      display: block;
      width: 100%;
    }
  }