/* .flex {
    display: flex;
    flex-wrap: wrap;
  } */

body {
  font-size: 1.7vw;
}

@media only screen and (max-width: 600px) {
  body {
     font-size: 3.5vw;
  }
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.ray-luna {
  font-size: 6
  vw;
}

.container {
  margin-top: 2rem;;
}

.feature-card {
    padding: 3vw;
}

.about-text {
    margin-left: 3vw;
}

.feature-img {
    margin-top: 2vw;
}

.contact-icons {
  margin-bottom: 1rem;
}

/* @media only screen and (max-width: 600px) {
    .col {
      display: block;
      width: 100%;
    }
  } */