#not-found .inner {
    padding-top: 12rem;
    justify-content: center;
    align-items: center;
}

#not-found .inner h1 {
    font-size: 12rem;
    font-weight: 100;
}

#not-found .inner h2 {
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
}

#not-found .btn {
    text-transform: uppercase;
}