:root {
  --primary: #e00097;
}

body {
  color: white;
  background-color: var(--primary);
  font-family: 'Urbanist', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}

.dark body {
  background-color: black;
  color: white;
}

button {
  margin: 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10%;
  font: inherit;
  cursor: pointer;
  outline: none;
  color: var(--primary);
  background-color: white;
  font-weight: 400;
}

.dark button {
  background-color: var(--primary);
  color: black;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Bebas Neue', sans-serif;
  line-height: 3.2rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1,
.h1 {
  font-size: 3.5rem;
}

h2,
.h2 {
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 2.5rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5,
.h5 {
  font-size: 1.5rem;
}

a {
  color: inherit;
}

a:hover {
  color: black;
}

.dark a:hover {
  color: var(--primary);
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer .inner {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

#logo .name {
  font-size: 5.9rem;
  line-height: 5.5rem;
  font-weight: 600;
}

#logo .job-title {
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}