.border-red {
  border: 3px solid red;
}

.border-green {
  border: 3px solid green;
}

.border-blue {
  border: 3px solid blue;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.flex-col-03 {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.flex-col-05 {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.flex-col-1 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.flex-col-2 {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.flex-col-4 {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.hidden {
  display: none;
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem
}

.dark .text-neon-pink {
  color: white;
  text-shadow:
    0 0 7px var(--primary),
    0 0 10px var(--primary),
    0 0 21px var(--primary),
    0 0 42px var(--primary),
    0 0 82px var(--primary),
    0 0 92px var(--primary),
    0 0 102px var(--primary),
    0 0 151px var(--primary);
}

.dark #logo.text-neon-pink {
  color: var(--primary);
  text-shadow: none;
}

.text-neon-white {
  color: white;
  text-shadow:
    0 0 7px white,
    0 0 10px white,
    0 0 21px white,
    0 0 42px white,
    0 0 82px white,
    0 0 92px white,
    0 0 102px white,
    0 0 151px white;
}

.dark .text-primary {
  color: var(--primary);
}

.zoom-in-out {
  transition: transform .25s;
}

.zoom-in-out:hover {
  transform: scale(1.02);
}



@media screen and (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .grid-cols-2,
  .grid-cols-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}